:root {
  --blue: rgb(5, 0, 44);
}
.content {
  display: flex;
  gap: 1rem;
  padding: 1.3rem;
}
.insert {
  flex: 1;
  display: grid;
  gap: 1rem;
}
.cv {
  background-color: white;
  border-radius: 8px;
  flex: 2;
  color: black;
  height: fit-content;
  min-height: 300px;
  overflow: hidden;
  font-size: 1.1rem;
  font-family: arial;
}
.header {
  background-color: var(--blue);
  padding: 1rem 2rem;
  color: white;
}
.name {
  padding: 0.8rem;
  font-size: 2rem;
  font-weight: bolder;
}
.info {
  display: flex;
  justify-content: space-around;
}
.info div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.info img {
  filter: invert(100);
}
.educationTitle,
.experienceTitle {
  border-bottom: 1px solid var(--blue);
  margin: 0rem 2rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.educationSquareCv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 2rem;
  padding: 0rem 2rem;
}
.dates {
  display: grid;
  font-size: 1.1rem;
}
.school {
  display: grid;
  gap: 10px;
}
.school h3 {
  margin: 0;
  text-transform: uppercase;
}
.school div {
  font-style: italic;
  text-transform: uppercase;
}
