.content {
  display: flex;
  gap: 1rem;
  padding: 1.3rem;
}
.insert {
  flex: 1;
  display: grid;
  gap: 1rem;
}
.cv {
  background-color: white;
  border-radius: 8px;
  flex: 2;
  color: black;
  height: fit-content;
  min-height: 300px;
  overflow: hidden;
  font-size: 1.1rem;
  font-family: arial;
}
.header {
  background-color: rgb(5, 0, 44);
  padding: 1rem 2rem;
  color: white;
}
.name {
  font-size: 2rem;
  font-weight: bolder;
}
.info {
  display: flex;
  justify-content: space-around;
}
.info div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.info img {
  filter: invert(100);
}
